*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.about-us{
    padding: 80px, 0px;
    margin-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.about-us h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
}

.about-us h3 {
    font-size: 22px;
    color: #888;
    margin-bottom: 8px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.about-us img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.social-link {
    margin-bottom: 20px
}

.social-link a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4 ease;
}

.social-link a:hover {
    transform: translateY(-3px);
}

.btn-about {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    margin-bottom: 20px;
}

.btn:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .flex {
        max-width: 100%;
    }
    .about-us h2{
        font-size: 31px;
    }
    .about-us p{
        font-size: 16px;
    }
    .social-link a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin-right: 5px;
    }
}